* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: black;
    text-align: center;
    margin: 10px;
}
.conteiner {
    width: 350px;
    height: 300px;
    background: aquamarine;
    border-radius: 15px;
}
form {
    display: grid;
    color: black;
}
button {
    width: 100px;
    height: 30px;
    position: relative;
    left: 125px;
    top: 30px;
}

button:hover {
    background: navy;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
